<html>
	<head>
	<title>Goal Sheet</title>
	<style>
		.box{
				margin:0 auto; 
				width:570px;
				padding:20px;
				background:white;
				border:2px solid #333;
			}
			a:link, a:visited {
			background-color: white;
			color: black;
			border: 2px solid orangered;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			}

			a:hover, a:active {
			background-color: orangered;
			color: white;
			}
			body{
				background-color: #F9E79F ;
			}
	</style>
	</head>
	<body>
		
		{% if 'success' in flag %}
			<script>
				alert("Goal Added")
		  	</script>
		{% endif %}
		<center>
		<br><br>
		<div class="box">
		<h1>Goal Sheet</h1>
		<br>
		
		<a href="{{ url_for('userReview') }}"> User Review </a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('managerReview') }}"> Manager Review </a>
		<br>
		<br>
		<br>

		<form name="form1" action="/" method="post" onsubmit="return emptyValidation()">
			<table>
			<tr>
				<th><label>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br><br></th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="userName" placeholder="Name"><br><br><br></th>
			</tr>
			<tr>
				<th><label>Year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br><br></th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="year" placeholder="Year"><br><br><br></th>
			</tr>
			<tr>
				<th><label>Goal Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br><br></th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="goalName" placeholder="Goal Name"><br><br><br></th>
			</tr>
			<tr>
				<th><label>Goal description:</label><br><br><br>&nbsp;&nbsp;</th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea rows="5" cols="22" name="goalDescription" placeholder="Goal Description"></textarea><br><br><br></th>
			</tr>
			<tr>
				<th><label>Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br><br></th>
				<th><input type="date" name="dateYear" placeholder="01/01/2021"><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;</th>
			</tr>
			<tr>
				<th><button type="submit" name="submit" value="add" style="width:100px;">Submit</button></th> 
      			<th><input type="reset" value="Clear" style="width:100px;"></th>
      		</tr>  
      		</table>
		</form>
		<script>
			function emptyValidation() {
			   var userName = document.forms["form1"]["userName"].value;
			   var year = document.forms["form1"]["year"].value;
			   var goalName = document.forms["form1"]["goalName"].value;
			   var goalDescription = document.forms["form1"]["goalDescription"].value;
			   var dateYear = document.forms["form1"]["dateYear"].value;

			   if ( userName == "" || year == "" || goalName == "" || goalDescription == "" || dateYear == "" ) {
				
					alert("Please Enter All Values");
				  return false;
			   }
			   return true;
			   
			}
		 </script>
		<br> <br> <br>
		
		</div>
		</center>
		
	

	</body>
</html>
